{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ],
    },
    "test": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0",
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": [
	  "transform-runtime",
	  ["module-resolver", {
		  "root": ["./src"],
		  'cwd': '.',
		  "alias": {
			  'chl': './src/js',
			  '@': './src',
			  'three-examples': './node_modules/three/examples/js',
			  'models': './static/models',
			  'vue$': './vue/dist/vue.esm.js'
		  }
	  }]
  ]
}
