.*.sw*
editor/.jshintrc
.DS_Store
npm-debug.log
npm-debug.log.*
operator-ui/backend/node_modules/
operator-ui/backend/dist/
editor/node_modules/
node_modules/
editor/dist/electron/*
editor/dist/web/*
editor/build/*
editor/.cache-loader/
!editor/build/icons
thumbs.db
!.gitkeep
Session.vim
backend/dist
yarn-error.log
