/*
 * Extensions to litegui default style for Chlorophyll
 */

/* Fix floating checkbox alignment...*/
li.ltreeitem div.ltreeitemtitle {
	padding: 1px;
	white-space: normal;
}

.visibility-toggle {
	color: #aaa;
	text-decoration: none;
	float: right;
	padding-right: 1em;
}

.visibility-toggle:hover {
	color: #fff;
	text-decoration: none;
}

.inspector input.color {
	text-align: center;
	margin-top: 1px;
	border-radius: 2px !important;
	border-bottom: 1px solid #666;
    border-top: 1px solid #111;

	width: 100%;

	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
}
