/*
 * Defined consistent colors, spacings, etc.
 */
$panel-text:  #a9a9a9;
$panel-bg:    #2e2e2e;

$highlight: #288edf;
$accent: darken(desaturate($highlight, 30%), 15%);
$accent-text: lighten($panel-text, 10%);

$bg-dark: darken($panel-bg, 5%);
$shadow-dark: darken($bg-dark, 5%);

$control-text:        #c6c8c8;
$control-text-shadow: 0 -1px rgba(0,0,0,0.69);
$control-bg:          #4f4f4f;
$control-bg-dark:     darken($control-bg, 10%);
$control-bg-light:    lighten($control-bg, 10%);
$control-shadow:      lighten($control-bg, 15%);

$control-border:        darken($control-bg, 10%);
$control-border-select: darken($control-bg, 25%);

$control-highlight:        $highlight;
$control-highlight-border: #134f7f;

$input-bg:  #454646;
$input-text: #c6c8c8;

$control-height:   24px;
$split-gutter-size: 2px;
