/*
 * Defined consistent colors, spacings, etc.
 */
$panel-text:        #999;
$panel-background:  #222;

$control-text:     #c6c8c8;
$control-bg:       #595b5b;
$control-bg-dark:  #3f4041;
$control-bg-light: #626465;
$control-shadow:   #737373;

$control-border:        #333434;
$control-border-select: #0036ff;

$control-highlight:        #288edf;
$control-highlight-border: #134f7f;

$control-height:  24px;
$split-gutter-size:    4px;
