/*
 * Defined consistent colors, spacings, etc.
 */


$base-grey: #2e3030;

// this style is hardcoded in a couple places to prevent a style flash
// the browser window creation background
// and the main body bg
$page-bg: #222323;

$base-blue-1: #106BA3;
$base-blue-2: #137CBD;
$base-blue-3: #2B95D6;
$base-blue-4: #48AFF0;

$base-red:  #EC514E;

$panel-text:  #a9a9a9;
$panel-bg:    $base-grey;

$panel-dark:  darken($panel-bg, 10%);
$panel-light: lighten($panel-bg, 15%);

$highlight: $base-blue-3;

$accent: desaturate($base-blue-1, 20%);
$accent-text: lighten($panel-text, 10%);

$bg-dark: darken($panel-bg, 5%);
$shadow-dark: darken($bg-dark, 5%);

$control-text:        #c6c8c8;
$control-text-shadow: 0 -1px rgba(0,0,0,0.69);

$control-group-base:  lighten($base-grey, 5%);
$control-group-dark:  darken($control-group-base, 10%);
$control-group-light: lighten($control-group-base, 10%);

$control-base:       lighten($control-group-base, 10%);
$control-dark:       darken($control-base, 20%);
$control-light:      lighten($control-base, 10%);

$control-border:        $control-dark;
$control-border-select: $control-dark;
$control-border-radius: 4px;

$control-highlight:        $base-blue-3;
$control-highlight-border: $base-blue-1;
$control-highlight-warn:   $base-red;

$input-bg:  darken($control-base, 15%);
$input-border: darken($input-bg, 10%);
$input-text: $control-text;

$inset-radius: 4px;

$control-height:  24px;
$control-vspace:  6px;
$panel-margin:    3px;

$split-gutter-size: 3px;

/* note:
 *index.ejs hard-codes this value to get the logo to match up with the
 * vue controlled component.
*/
$darwin-titlebar-height: 22px;
