@import "./aesthetic.scss";

/*
 * Global style tweaks
 */
button:focus {
  outline: 0;
}

.header, .tree, label {
  user-select: none;
  &:hover {
    cursor: default;
  }
}

.dialog-box {
  border: 1px solid $panel-dark;
  box-shadow: inset 1px 1px $panel-light;
  border-radius: $inset-radius;
  padding: 0px 2px;
  background-color: $panel-bg;
  overflow: hidden;

  .title {
    margin: 1px -1px;
    background-color: darken($panel-light, 7.5%);
    font-size: 10pt;
    padding: 0.3em 0.3em;
    letter-spacing: 0.03rem;
    text-shadow: $control-text-shadow;
  }
}

/*
 * Control panels and inputs
 */
.panel {
  font-size: 12px;
  width: 100%;
  height: 100%;
  background-color: $panel-bg;
  color: $panel-text;
  overflow: hidden;

  h1 {
    font-size: 11pt;
    font-weight: normal;
    text-shadow: $control-text-shadow;
    letter-spacing: 0.03rem;

    display: block;
    padding: 0.5em 0.3em 0 0.5em;
    margin: 0;
  }

  section h1 {
    padding: 0.5em 0.3em 0.2em 0.3em;
    font-size: 10pt;
  }

  .control {
    height: $control-height;
    grid-column-start: std-divide;
    grid-column-end: span 2;

    // Fill the entire width of the grid with an element.
    &.full-row {
      grid-column: 1 / -1;
    }

    &.small-right {
      grid-column: short-col / -1;
    }

    &.warn {
      color: $control-highlight-warn;
    }
  }

  .control-row {
    display: flex;
    margin: auto $panel-margin;

    &.no-label {
      .control:first-child {
        grid-column-start: 1;
      }
    }
  }

  .controls {
    margin: auto $panel-margin;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: minmax(6em, max-content) [std-divide] 2fr [short-col] 1fr;
    padding: 5px 5px 5px 5px;
    box-shadow: inset 1px 1px 1px darken($control-group-dark, 15%);
    border-radius: $inset-radius;
    border-bottom: 1px solid $control-group-dark;
    border-right: 1px solid $control-group-dark;
    background-color: $control-group-base;
    justify-items: stretch;

    .control-row {
      display: contents;

      &.full-row {
        display: flex;
      }
    }

    hr {
      grid-column: 1/-1;
      margin-top: $control-vspace;
      margin-bottom: $control-vspace;
    }
  }

  /*
   * For panels embedded in other UI elements, e.g. a toolbar,
   * without needing a wrapper div to constrain the height.
   */
  &.inline {
    height: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #333;
    padding-bottom: 3px;

    label {
      flex: initial;
      width: fit-content;
      min-width: 0;
      padding-left: 2em;
    }
  }

  label {
    grid-column: 1 / std-divide;
    padding-top: 0.4rem;
    text-align: right;
    padding-right: 0.5em;
  }


  /*
   * Shortcuts for different input sizes
   */
  .square {
    width: 2em;
    padding: 0;
  }
  .smol {
    flex: 1 4 auto;
  }
  .medium {
    flex: 2 2 50px;
  }
  .wide {
    flex: 4 1 auto;
  }
  .fill {
    flex: auto;
  }

  button {
    font-size: 12px;

    padding: 0 0.563rem;
    height: $control-height;

    color: $control-text;
    text-shadow: $control-text-shadow;
    background-color: $control-base;
    box-shadow: inset 0 1px $control-light;
    border: 1px solid $control-border;
    border-radius: $control-border-radius;

    line-height: 1.313rem;
    letter-spacing: 0;
    vertical-align: top;
    text-align: center;

    &:hover {
      background-color: $control-light;
    }

    &:focus {
      // border: 1px solid $control-border-select;
      // box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    }

    &:active {
      border: 1px solid $control-border;
      background-color: $control-dark;
      box-shadow: inset 0 1px rgba(0,0,0,0.05);
    }

    &:disabled {
      color: darken($control-text, 15%);
    }

    &.highlighted {
      border: 1px solid $control-highlight-border;
      background-color: $control-highlight;
      box-shadow: inset 0 1px $base-blue-4;
      color: lighten($control-text, 10%);
      font-weight: 500;
      text-shadow: 0 -1px $control-highlight-border;

      &:hover {
        background-color: #4ca1e4;
      }
    }
  }

  select {
    -webkit-appearance: none;
    user-select: none;
    cursor: pointer;

    text-indent: 1px;
    text-overflow: '';
    padding: 0 0.4rem;
    padding-right: 1.5rem;
    //margin: 1px 1px 1px 1px;
    min-width: 5rem;
    line-height: 1rem;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    vertical-align: top;

    color: $control-text;
    text-shadow: $control-text-shadow;
    background-color: $control-base;
    background-image: url('~@/assets/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right;
    box-shadow: inset 0 1px $control-light;
    border: 1px solid $control-dark;
    border-radius: $control-border-radius;
    box-sizing: border-box;

    &:hover {
      background-color: hsla(200, 2%, 39%, 1);
    }

    &:active {
      background-color: hsla(210, 2%, 25%, 1);
      box-shadow: inset 0 1px hsla(0, 0%, 0%, .05);
    }

    &:focus {
      border: 1px solid hsla(227, 100%, 50%, 1);
      box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
      outline: 0;
    }
  }

  input {
    padding-left: 0.5em;
    box-sizing: border-box;
    width: 100%;

    vertical-align: top;
    line-height: 1.313rem;
    font-size: 12px;
    letter-spacing: 0;
    color: $input-text;

    background-color: $input-bg;
    border: 1px solid $input-border;
    border-radius: $control-border-radius;
    box-shadow: inset 0 1px rgba(0,0,0,0.05);

    &:focus {
      background-color: lighten($input-bg, 10%);
      color: lighten($input-text, 10%);
      border: 1px solid $base-blue-2;
      box-shadow: 0 0 0 2px $base-blue-4;
    }

    &:disabled {
      background-color: darken($input-bg, 5%);
      color: darken($input-text, 10%);
    }

    &:invalid {
      border: 1px solid #ec514e;
    }
  }

  input[type=range] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: calc(100%-10px);
    margin-top: 0.6rem;
    margin-left: 5px;
    margin-right: 5px;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &::-webkit-slider-runnable-track {
      height: 5px;
    width: 100%;
      background-color: $input-border;
      -webkit-appearance: none;
    }

    &::-webkit-slider-thumb {
      height: 15px;
      width: 10px;
      border-radius: 0px;
      margin-top: -5px;
      background: $control-highlight;
      border: 1px solid $input-border;
      box-shadow: inset 0 1px $base-blue-4, 0.6px 0.6px 3px $input-bg;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }

  .panel-inset {
    margin: auto 3px;
    padding-left: 2px;
    border-radius: $inset-radius;
    border-bottom: 1px solid $shadow-dark;
    border-right: 1px solid $shadow-dark;
    background-color: $bg-dark;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    &:before {
      content: "";
      pointer-events: none;
      box-shadow: inset 2px 2px 1px $shadow-dark;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .flat-list {
    @extend .panel-inset;
    overflow-y: auto;
    height: 100%;
    padding-top: 3px;

    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
    }

    li {
      padding-left: 1.5em;
      line-height: 1.5em;
      border-bottom: 1px solid darken($bg-dark, 5%);

      &.selected {
        background-color: $accent;
        color: $accent-text;
      }
    }
  }

  .tree-container {
    @extend .panel-inset;
    overflow-y: auto;

    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }

    .item {
      padding-left: 1.5em;
      line-height: 1.5em;
      user-select: none;

      &.withChildren > .label {
        cursor: pointer;
      }
    }

    .label {
      padding-left: 100%;
      margin-left: -100%;
      border-bottom: 1px solid darken($bg-dark, 5%);
    }

    .label.selected {
      background-color: $accent;
      color: $accent-text;
    }

    .icon {
      display: block;
      float: left;
      vertical-align: middle;
      color: $base-blue-4;
    }
  }

  .plotter {
    @extend .panel-inset;
    overflow: hidden;

    .path {
      fill: none;
      stroke: $highlight;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-width: 2;
    }

    .domain {
      stroke: $panel-dark;
    }

    .tick, .tick line {
      stroke: $panel-bg;
    }
  }

  .drag-widget {
    flex: initial;
    display: inline-block;

    width: 1em;
    min-width: 6px;
    vertical-align: top;
    margin: 0 2px;

    cursor: n-resize;
    background-image: url('~@/assets/dragger.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .separator {
    width: -webkit-calc(100% - 10px);
    border-top: 1px solid $panel-dark;
    border-bottom: 1px solid $panel-light;
    margin: 5px 0 5px 5px;
  }

  hr {
    width: 100%;

    height: 1px;
    background-color: $control-dark;
    border: none;
  }
}

/*
 * Layout / container management elements
 */
.tab-bar {
  $active-tab-color: $control-base;

  height: 1.8rem;
  padding-top: 2px;

  border-bottom: 2px solid $active-tab-color;
  background-color: $bg-dark;

  .tab-button-container {
    margin-left: 2px;
    margin-right: 2px;
    max-width: 8em;

    button {
      color: darken($control-text, 5%);
      text-shadow: $control-text-shadow;
      background-color: lighten($control-dark, 5%);
      box-shadow: inset 0 1px darken($control-light, 5%);
      border: 1px solid $control-border;
      border-bottom: 0;
      border-radius: 5px 5px 0px 0px;

      &.active {
        color: lighten($control-text, 10%);
        background-color: $active-tab-color;
      }
    }
  }
}

.split-gutter {
  background-color: darken($panel-bg, 1%);

  &:hover {
    background-color: lighten($panel-bg, 10%);
  }
  &.dragging {
    background-color: $accent;
  }
}
