@import "./aesthetic.scss";

.panel {
  font-size: 13px;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #999;
  overflow: hide;

  /*
   * For panels embedded in other UI elements, e.g. a toolbar,
   * without needing a wrapper div to constrain the height.
   */
  &.inline {
    height: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #333;
  }

  .header {
    padding: 0.3em;
    background: #444;
    color: #bbb;
  }

  .control-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    padding: 0.3em;
    border: 1px solid #181818;
  }

  .control {
    flex: auto;
    display: flex;
    height: $control-height;
  }

  /*
   * Input sizes
   */
  .square {
    width: 2em;
    padding: 0;
  }
  .smol {
    flex: 1 0 0;
  }
  .medium {
    flex: 2 0 0;
  }
  .wide {
    flex: 4 0 0;
  }
  .fill {
    flex: auto;
  }

  label {
    display: inline-block;
    width: 30%;
    max-width: 10em;
    min-width: 5em;
    flex: 1 0 0;

    text-align: right;
    padding-right: 0.5em;
  }

  button {
    font-size: 12px;

    padding: 0 0.563rem;
    margin: 1px 1px 1px 1px;

    color: $control-text;
    text-shadow: 0 -1px rgba(0,0,0,0.69);
    background-color: $control-bg;
    box-shadow: inset 0 1px $control-shadow;
    border: 1px solid $control-border;
    border-radius: 2px;

    line-height: 1.313rem;
    letter-spacing: 0;
    vertical-align: top;
    text-align: center;

    &:hover {
      background-color: $control-bg-light;
    }

    &:focus {
      border: 1px solid $control-border-select;
      box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
      outline: 0;
    }

    &:active {
      border: 1px solid $control-border;
      background-color: $control-bg-dark;
      box-shadow: inset 0 1px rgba(0,0,0,0.05);
    }

    &.highlighted {
      border: 1px solid $control-highlight-border;;
      background-color: $control-highlight;
      box-shadow: inset 0 1px rgba(255,255,255,0.36);
      color: #fff;
      font-weight: 500;
      text-shadow: 0 -1px rgba(0,0,0,0.36);

      &:hover {
        background-color: #4ca1e4;
      }
    }
	}

  select {
    -webkit-appearance: none;
    user-select: none;
    cursor: pointer;

    text-indent: 1px;
    text-overflow: '';
    padding: 0 0.4rem;
    padding-right: 1.5rem;
    margin: 1px 1px 1px 1px;
    min-width: 3.4rem;
    line-height: 1rem;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    vertical-align: top;

    color: hsla(180, 2%, 78%, 1);
    text-shadow: 0 -1px hsla(0, 0%, 0%, .69);
    background-color: hsla(180, 1%, 35%, 1);
    background-image: url('~@/assets/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center right;
    box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
    border: 1px solid hsla(180, 1%, 20%, 1);
    border-radius: 2px;

    &:hover {
      background-color: hsla(200, 2%, 39%, 1);
    }

    &:active {
      background-color: hsla(210, 2%, 25%, 1);
      box-shadow: inset 0 1px hsla(0, 0%, 0%, .05);
    }

    &:focus {
      border: 1px solid hsla(227, 100%, 50%, 1);
      box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
      outline: 0;
    }
  }

  input {
    color: #55AAFF;
    background-color: #222;

    border-top: 1px solid #000;
    border-bottom: 1px solid #888;
    border-radius: 3px;

    -webkit-user-select: text;
  }

  .separator {
    width: -webkit-calc(100% - 10px);
    border-top: 1px solid #111;
    border-bottom: 1px solid #555;
    margin: 5px 0 5px 5px;
  }
}

.drag_widget {
	display: inline-block;
	width: 0.5em;
	min-width: 6px;
	vertical-align: top;
	margin: 0 2px;
	cursor: n-resize;
}
